consul_version: 1.8.4
consul_install_remotely: true
consul_syslog_enable: true
syslog_user: root
consul_node_role: server
consul_group_name: vault
consul_bootstrap_expect: true
consul_install_upgrade: true
consul_bind_address: "{{ ansible_eth1.ipv4.address }}"
consul_client_address: "{{ ansible_eth1.ipv4.address }}"
consul_addresses_dns: 127.0.0.1
consul_env_vars:
  - "CONSUL_UI_BETA=true"
consul_config_custom:
  ports:
    https: -1
consul_acl_datacetner: mgt
consul_acl_default_policy: deny
consul_down_policy: allow
consul_acl_master_token: D897BF84-56F3-4496-8BF5-5917FCB628DC
consul_acl_token: D897BF84-56F3-4496-8BF5-5917FCB628DC
